# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\areaweb\auth\accounts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
